<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/styles/admin.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <%- include('partials/admin-navbar.ejs') %>
<div class="container">
    <h1>Admin Dashboard</h1>
    <div class="admin-options">
        <div class="option-card">
            <a href="/admin/add-doctor">Add a new Doctor</a>
        </div>
        <div class="option-card">
            <a href="/admin/add-patient">Add a new Patient</a>
        </div>
        <div class="option-card">
            <a href="/admin/add-patient-record">Add a Patient record</a>
        </div>
        <div class="option-card">
            <a href="/admin/list-doctors">List Doctors</a>
        </div>
        <div class="option-card">
            <a href="/admin/list-patients">List Patients</a>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
