body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 400px;
    margin: 20px auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input[type="text"],
input[type="password"] {
    align-self: center;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
}

/* Wrapper for password input and icon */
.password-wrapper {
    position: relative;
    width: 100%;
}

.password-wrapper input {
    width: 100%;
    padding-right: 40px; /* Adding space for the icon */
}

.password-wrapper .fas {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
}

/* Button styling */
button {
    align-self: center;
    padding: 0.5rem 1rem;
    background-color: #72f1a5;
    color: #fff;
    border: solid;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 10px;
}

button:hover {
    background-color: #0bab4e;
}
